@font-face {
  font-family: "Geometria";
  src: url(geometria/Geometria.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria Bold";
  src: url(geometria/Geometria-Bold.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria Light";
  src: url(geometria/Geometria-Light.ttf);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
